ansible-lint>=25.2.1,<25.2.2,!=4.3.0 # MIT
ansible-compat # MIT
docker # Apache-2.0
molecule # MIT
molecule-plugins[docker] # MIT
pytest-metadata # MPL
pytest-molecule # MIT
pytest-testinfra
yamllint # GPLv3