---
kind: Cluster
name: {{ kind_cluster_name }}
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  disableDefaultCNI: {{ disableDefaultCNI | default(false) }}
  kubeProxyMode: {{ kubeProxyMode | default("none") }}
nodes:
{%  for i in range(count_controlplane_nodes) %}
  - role: control-plane
    image: kindest/node:v{{ kubectl_version }}
{%  if enable_ingress_ports %}
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: {{ node_labels }}
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
        protocol: TCP
      - containerPort: 443
        hostPort: 443
        protocol: TCP
{%  endif %}
{%  endfor %}
{%  for i in range(count_worker_nodes) %}
  - role: worker
    image: kindest/node:v{{ kubectl_version }}
    extraMounts:
{%      if enable_host_paths %}
      - hostPath: /mnt/data-node{{ i + 1 }}  # Host directory to mount
        containerPath: /data                # Mount path inside the KinD node
{%      endif %}
{%  endfor %}